* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

section {
  position: relative;  
  height: 450px;
  width: 500px;
  display: flex;
  align-items: center;
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 950px;
}

#card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #FF676D;
  border-radius: 20px 20px 0 0;
}

#card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section #card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #FF676D;
}

section #card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

#card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: rgb(43, 40, 40);
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .email{
  font-size:15px;
  font-weight: 500;
}

.name-profession .description{
  font-size:15px;
  font-weight: 500;
  padding: 10px;
}

#card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#card .link p {
  text-align: center;
}

#card .link button{
  background: #FF676D;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover{
  scale: 105%;
}