.network-cardcontainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

#network-button {
  width: 6rem;
  height: 2.8rem;
  color: #5639b8;
  border: 3px;
  border-radius: 20px;
  background-color: rgb(255, 248, 248);
}